<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.algorizo.erp.outboundmapper">

	<resultMap type="co.algorizo.erp.outbound.outboundDTO" id="outboundresultmap">
		<id column="out_id" property="out_id"></id>
		<result property="out_date" column="out_date"></result>
		<result property="update_date" column="update_date"></result>
		<result property="out_status" column="out_status"></result>
		<result property="out_quantity" column="out_quantity"></result>
		<result property="etc" column="etc"></result>
		<result property="del" column="del"></result>

		<association property="product" javaType="co.algorizo.erp.product.ProductDTO">
			<id column="p_id" property="p_id"></id>
			<result property="p_code" column="p_code"></result>
			<result property="p_name" column="p_name"></result>
			<result property="p_price" column="p_price"></result>
			<result property="p_lctg" column="p_lctg"></result>
			<result property="p_mctg" column="p_mctg"></result>
			<result property="p_sctg" column="p_sctg"></result>
		</association>

		<association property="member" javaType="co.algorizo.erp.register.dto.MemberDTO">
			<id column="m_id" property="m_id"></id>
			<result property="m_name" column="m_name"></result>
			<result property="m_email" column="m_email"></result>
			<result property="m_pno" column="m_pno"></result>
		</association>

		<association property="company" javaType="co.algorizo.erp.company.CompanyDTO">
			<id column="cp_id" property="cp_id"></id>
			<result property="cp_name" column="cp_name"></result>
			<result property="cp_manager" column="cp_manager"></result>
			<result property="cp_fax" column="cp_fax"></result>
		</association>
	</resultMap>

	<!-- 출고 전체 조회 -->
	<select id="list" resultMap="outboundresultmap">
		SELECT
		ob.*,
		IFNULL(ob.etc, 'N/A') AS etc,
		p.p_code AS p_code,
		p.p_name AS p_name,
		p.p_price AS p_price,
		m.m_name AS m_name,
		m.m_email AS m_email,
		m.m_pno AS m_pno,
		c.cp_name AS cp_name,
		c.cp_manager AS cp_manager,
		c.cp_fax AS cp_fax
		FROM outbound ob
		JOIN product p ON ob.product_p_id = p.p_id
		JOIN member m ON ob.member_m_id = m.m_id
		JOIN company c ON ob.company_cp_id = c.cp_id
		WHERE ob.del = 0;
	</select>

	<!-- 출고 상세 정보 -->
	<select id="detail" resultMap="outboundresultmap" parameterType="Integer">
		SELECT
		ob.*,
		IFNULL(ob.etc, 'N/A') AS etc,
		p.p_code AS p_code,
		p.p_name AS p_name,
		p.p_price AS p_price,
		p.p_sctg AS p_sctg,
		p.p_mctg AS p_mctg,
		p.p_lctg AS p_lctg,
		m.m_name AS m_name,
		m.m_email AS m_email,
		m.m_pno AS m_pno,
		c.cp_name AS cp_name,
		c.cp_manager AS cp_manager,
		c.cp_fax AS cp_fax
		FROM outbound ob
		JOIN product p ON ob.product_p_id = p.p_id
		JOIN member m ON ob.member_m_id = m.m_id
		JOIN company c ON ob.company_cp_id = c.cp_id
		WHERE ob.out_id = #{out_id};
	</select>

	<!-- 출고 등록 -->
	<insert id="register" parameterType="co.algorizo.erp.outbound.outboundDTO">
		INSERT INTO outbound (product_p_id, company_cp_id, member_m_id, out_quantity, out_status, del)
		VALUES (#{product_p_id}, #{company_cp_id}, #{member_m_id}, #{out_quantity}, #{out_status}, 0);
	</insert>

	<!-- 출고 수정 -->
	<update id="update" parameterType="co.algorizo.erp.outbound.outboundDTO">
		UPDATE outbound SET
		update_date = #{update_date},
		out_status = #{out_status},
		out_quantity = #{out_quantity}
		WHERE out_id = #{out_id};
	</update>

	<!-- 출고 삭제 -->
	<update id="delete" parameterType="Integer">
		UPDATE outbound SET del = 1 WHERE out_id = #{out_id};
	</update>
</mapper>
