@charset "EUC-KR";
.container{
	margin: 0;
	width: 100%;
	max-width: 100%;
}
.d-flex.custom{
	justify-content: space-between;
	margin-bottom: 10px;
}
.d-flex.custom.m0{
	justify-content: space-between;
	margin-bottom: 0px;
}
.form-group.width{
	width: 48%;
}
.form-group.width35{
	width: 35%;
}
.form-group.width9{
	width: 9%;
}
.form-group.border{
	border: 1px solid #dce7f1;
	border-radius: .25rem;
	margin-bottom: 20px;
}
.text-end{
	margin-top: 60px;
	display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.table.table-striped{
	margin-bottom: 0;
}
.inspection_info{
	display: none;
}
.button_div{
	display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.listView{
	display: flex;
    gap: 10px;
}
.btn-primary.w100{
	width: 100px;
}
.modal-dialog-centered.mw550{
	max-width: 550px;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.col-12.hide{
	display: none;
}
#custom_reason_div{
	display: none;
}
#calendar {
  min-height: 600px;  /* 또는 height: 100vh; 도 가능 */
  background-color: white; /* 배경색 추가하면 디버깅 더 쉬움 */
}